<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="EpitopMedical" value="https://pkgs.dev.azure.com/EpitopMedical/_packaging/EpitopMedical/nuget/v3/index.json" />
    <add key="Nuget" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
</configuration>